/* styles/editor.css */
ul[data-style="circle"] {
  list-style-type: circle;
}
ul[data-style="square"] {
  list-style-type: square;
}
ol[data-style="lower-roman"] {
  list-style-type: lower-roman;
}
ul[data-level="1"], ol[data-level="1"] {
  margin-left: 20px;
}
ul[data-level="2"], ol[data-level="2"] {
  margin-left: 40px;
}
ul[data-level="3"], ol[data-level="3"] {
  margin-left: 60px;
}